.container {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  margin-top: 7%;
  width: 25%;
  padding: 0;
}

.calcButton {
  width: 25%;
  height: 40px;
  background-color: #dedede;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  cursor: pointer;
  border: 1px solid rgb(101, 101, 101);
}

.calcButtonColor {
  width: 25%;
  height: 40px;
  background-color: rgb(255, 115, 0);
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  cursor: pointer;
  border: 1px solid rgb(101, 101, 101);
}

.result-screen {
  background-color: rgb(116, 114, 114);
  height: 35px;
  text-align: right;
  text-decoration: none;
  box-sizing: border-box;
  font-size: 18px;
  color: #fff;
}

.zeroButton {
  width: 50%;
  height: 40px;
  background-color: #dedede;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  cursor: pointer;
  border: 1px solid rgb(101, 101, 101);
}

.title {
  font-size: 17px;
  margin:5% 20px 20px 90px;
}

.main-container {
  display: flex;
}

.navbar {
  display: flex;
  justify-content: space-between;
  padding-left: 90px;
  padding-right: 90px;
}

.navLinks {
  padding-top: 25px;
}

.navItem {
  font-size: 18px;
}

.about-container {
  margin: 5% 90px;
}

.quote {
  text-align: center;
  font-size: 25px;
  margin-left: 20%;
  margin-right: 20%;
  margin-top: 10%;
}

@media only screen and (max-width: 768px) {
  .container {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
    width: 50%;
    padding: 0;
  }
}